<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
      <title>Alex Vlissidis</title>
  <meta name="keywords" content="Software Engineer, Data Science, Artifical Intelligence, Machine Learning, resume">
  <link rel="icon" href="images/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
  	<script src="js/particles.js"></script>
    <script src="js/app.js"></script>
    <main>
      <div class="intro">
	      <div id="particles-js"></div>
	      <h1 align="center" style="line-height:1.5; margin-left:0%;  margin-right:0%">Alex Vlissidis</h1>
	      <h2 align="center">Data Scientist &middot; Software Engineer</h2>
	  </div>

    </main>
  </body>
</html>
